* {
    box-sizing: border-box;
}

header {
    /*header内側の余白*/
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    /*上部に固定*/
    position: fixed;
    top: 0;
    /*header直下要素のレイアウトをコントロール*/
    display: flex;
    align-items: center;
    z-index:10;
}
header ul {
    list-style: none;
    margin: 0;
    display: flex;
}
header li {
    margin: 0 0 0 15px;
    font-size: 14px;
}
footer{
    background:#F6F6F6;
}
footer p{
    text-align:right;
}
footer wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.wrapper{
    width:100%;
    margin:0 auto;
    padding:70px 0;
}
div {
    border: solid 5px orange;
    box-sizing: border-box;
    line-height: auto;
}


#about{
    text-align:left;
    margin-bottom:96px;
}
#about p{
    /*行間*/
    line-height:1.6em;
}
#projects {
    text-align: left;
    margin-bottom: 96px;
}
#contact {
    text-align: left;
    margin-bottom: 96px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

